[submodule "modules/tvmc/draco"]
	path = modules/tvmc/draco
	url = https://github.com/google/draco
[submodule "open4d/modules/tsmc/draco"]
	path = open4d/modules/tsmc/draco
	url = https://github.com/google/draco.git
