*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data
logs
data/
sbatch
*.pth
*.pt
*.mp4
*.png
*scannet_banet_train_pairs*
slurm_files
env_quantgs
*.dump
data/
*.png
*.pth
*.pt
*.mp4
*.pyc
.vscode
output/
build/
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
sbatch
*.pth
*.pt
*.mp4
*.png
tiny-cuda-nn/
libboost/
eigen/
logs/
__pycache__