data/answering/masks
data/answering/render
data/answering/meshes/dynamic
data/answering/meshes/gt
data/answering/meshes/static
data/synthetic/masks
data/synthetic/render
data/synthetic/meshes/dynamic
data/synthetic/meshes/gt
data/synthetic/meshes/static
.codex
arap-volume-tracking/data
arap-volume-tracking/output
arap-volume-tracking/bin
tvm-editing/TVMEditor.Test/bin
tsmc/output

__pycache__/
*.pyc